JWT_SECRET=fda993bcf6b9a713406d9b5134671b2b6bb0d41a9147f96b322c2b33dd938d30
PORT=3000

FRONTEND_DEV_URL=url_de_desenvolvimento
FRONTEND_PROD_URL=url_de_producao

DATABASE_URL=sua_string_de_conexão_aqui

DB_DATABASE=nome_do_banco_de_dados
DB_USERNAME=nome_do_usuario
DB_PASSWORD=senha_do_usuario

# ====== PORTAS ======
DB_PORT=Porta_do_banco_de_dados
APP_PORT=Porta_da_aplicação
